* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes awardSlide {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  11% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  16% {
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
  }
  27% {
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
  }
  32% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
  45% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
  50% {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  63% {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  68% {
    -webkit-transform: translateY(-335px);
            transform: translateY(-335px);
  }
  79% {
    -webkit-transform: translateY(-335px);
            transform: translateY(-335px);
  }
  84% {
    -webkit-transform: translateY(-425px);
            transform: translateY(-425px);
  }
  95% {
    -webkit-transform: translateY(-425px);
            transform: translateY(-425px);
  }
  100% {
    -webkit-transform: translateY(-510px);
            transform: translateY(-510px);
  }
}

@keyframes awardSlide {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  11% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  16% {
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
  }
  27% {
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
  }
  32% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
  45% {
    -webkit-transform: translateY(-172px);
            transform: translateY(-172px);
  }
  50% {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  63% {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  68% {
    -webkit-transform: translateY(-335px);
            transform: translateY(-335px);
  }
  79% {
    -webkit-transform: translateY(-335px);
            transform: translateY(-335px);
  }
  84% {
    -webkit-transform: translateY(-425px);
            transform: translateY(-425px);
  }
  95% {
    -webkit-transform: translateY(-425px);
            transform: translateY(-425px);
  }
  100% {
    -webkit-transform: translateY(-510px);
            transform: translateY(-510px);
  }
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
}

.text_hide {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.text_skip {
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.text_skip:focus {
  width: 100vw;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
  background-color: #353535;
  position: absolute;
  top: 115px;
}

.text_hover {
  position: relative;
}

.text_hover:hover {
  color: #006633;
}

.text_hover::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #006633;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.text_hover:hover::before {
  opacity: 1;
}

.text_sub {
  font-size: 12px;
  color: #999999;
}

#beverage_header {
  font-family: 'Maven Pro', sans-serif;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f6f5ef;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.beverage_header .media_nav_mid {
  display: none;
}

.beverage_header .wrap_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}

.beverage_header .img_logo {
  width: 77px;
  height: 77px;
  margin: 20px 0;
}

.beverage_header .list_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 490px;
  margin-top: 10px;
  margin-left: auto;
  font-size: 13px;
}

.beverage_header .list_top li ~ li:not(li:last-child)::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #999999;
  position: relative;
  top: 2px;
  right: 15px;
}

.beverage_header .list_top .input_search input {
  display: none;
}

.beverage_header .list_top .input_search button {
  border: 1px solid gray;
  border-radius: 5px;
  width: 33px;
  height: 33px;
  padding-right: 3px;
  background-color: white;
  cursor: pointer;
}

.beverage_header .list_top .input_search img {
  width: 20px;
  height: 20px;
}

.beverage_header .list_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 720px;
  height: 60px;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

.beverage_header .list_nav .text_hover {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 17px;
  -webkit-transition: all .1s;
  transition: all .1s;
  z-index: 20;
}

.beverage_header .list_nav .text_hover:hover {
  background-color: #2c2a29;
}

.beverage_header .list_nav_sub {
  display: none;
  padding-top: 20px;
  background-color: #2c2a29;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
}

.beverage_header .list_sub_wrap {
  max-width: 1080px;
  margin: 0 auto 30px;
  overflow: hidden;
}

.beverage_header .list_sub_wrap ul {
  float: left;
  margin-right: 80px;
  text-align: left;
}

.beverage_header .list_sub_wrap ul > li:first-child a {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 10px;
  padding-bottom: 3px;
}

.beverage_header .cont_special {
  clear: both;
  padding: 30px 0 30px 290px;
  text-align: left;
  background-color: #af1534;
}

.beverage_header .cont_special a {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
}

.beverage_header .cont_special a::after {
  content: 'new';
  display: inline-block;
  border-radius: 15px;
  width: 40px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #38ca44;
  position: absolute;
  top: 0;
  right: -45px;
}

.beverage_header .cont_special a:hover {
  -webkit-text-decoration: underline 2px #ffffff;
          text-decoration: underline 2px #ffffff;
}

.beverage_header .cont_special p {
  font-size: 12px;
  font-weight: bold;
  color: #38ca44;
}

#beverage_main .wrap_main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.beverage_main .text_heading {
  display: inline-block;
  margin-top: 15px;
  font-size: 32px;
}

.beverage_main .list_mini {
  text-align: right;
  margin-bottom: 15px;
  font-size: 12px;
}

.beverage_main .list_mini .link_home {
  width: 12px;
  height: 12px;
}

.beverage_main .list_mini li {
  display: inline-block;
  margin-left: 15px;
}

.beverage_main .list_mini a {
  color: #666666;
}

.beverage_main .beverage_group {
  border: 1px solid #dddddd;
  border-radius: 7px;
  padding: 25px 30px 40px;
  position: relative;
}

.beverage_main .beverage_group h3 {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 25px;
}

.beverage_main .beverage_group .btn_pop {
  border: none;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 2px 0 gray;
          box-shadow: 0 1px 2px 0 gray;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 25px;
  right: 30px;
  cursor: pointer;
}

.beverage_main .beverage_group .btn_pop:hover {
  background-color: #fefefe;
}

.beverage_main .beverage_group .btn_pop img {
  width: 17px;
  height: 17px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.beverage_main .beverage_group .list_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.beverage_main .beverage_group .list_group li {
  width: 200px;
  margin: 25px 10px 15px 0;
}

.beverage_main .beverage_group .list_group .btn_group {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  background-color: #eeece3;
}

.beverage_group .artic_category {
  display: block;
}

.beverage_group .artic_category .list_category li {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
}

.beverage_group .artic_category .list_category label {
  cursor: pointer;
}

.beverage_info {
  overflow: hidden;
}

.beverage_info .list_btn_info li {
  margin: 30px 10px 20px 0;
  float: left;
  position: relative;
  top: 10px;
}

.beverage_info .list_btn_info .btn_info {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px 10px 5px 20px;
  font-size: 12px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.beverage_info .list_btn_info .btn_info::before {
  content: '';
  display: inline-block;
  background-image: url(../img/icon_window.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  left: 5px;
}

.beverage_info .list_btn_info .btn_info:hover {
  border: 1px solid #006633;
}

.beverage_info .list_btn_info .btn_tableInfo::before {
  content: '';
  display: inline-block;
  background-image: url(../img/icon_ham.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 17px;
  height: 15px;
  position: absolute;
  top: 6px;
  left: 5px;
}

.beverage_info .cont_select {
  float: right;
}

.beverage_info .btn_select {
  display: block;
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 250px;
  height: 40px;
  margin-top: 30px;
  padding: 0px 14px;
  font-size: 14px;
  text-align: left;
  background-color: #FFFFFF;
  position: relative;
  cursor: pointer;
}

.beverage_info .btn_select::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../img/icon_arrow.png);
  background-size: contain;
  position: absolute;
  top: 15px;
  right: 14px;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.beverage_info .btn_select.on::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../img/icon_arrow.png);
  background-size: contain;
  position: absolute;
  top: 15px;
  right: 14px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.beverage_info .btn_select + .list_select {
  display: none;
}

.beverage_info .btn_select.on + .list_select {
  display: block;
}

.beverage_info .list_select {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  width: 250px;
  margin-top: 9px;
  padding: 4px 0;
  font-size: 14px;
}

.beverage_info .list_select li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
}

.beverage_info .list_select button {
  border-style: none;
  border-radius: 10px;
  width: 90%;
  height: 30px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.beverage_info .list_select button:hover,
.beverage_info .list_select button:focus {
  background-color: #e4ffe8;
}

.artic_coldbrew {
  clear: both;
}

.artic_coldbrew .text_coldbrew {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f6f5ef;
}

.artic_coldbrew h4 {
  display: inline-block;
  margin-right: 65px;
  font-size: 18px;
  position: relative;
}

.artic_coldbrew h4::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../img/img_decaf.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  right: -60px;
}

.artic_coldbrew p {
  display: inline-block;
  font-size: 13px;
}

.artic_coldbrew .list_info {
  overflow: hidden;
}

.artic_coldbrew .list_info .text_coffee {
  float: left;
  font-size: 14px;
  text-align: center;
  margin: 10px;
}

.artic_coldbrew .list_info a {
  display: block;
  max-width: 250px;
  max-height: 260px;
  margin-bottom: 15px;
  overflow: hidden;
}

.artic_coldbrew .list_info .img_coffee {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.artic_coldbrew .list_info .img_coffee:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

#beverage_footer {
  background-color: #2C2A29;
  margin-top: 240px;
  padding: 35px 0;
  text-align: center;
}

.beverage_footer a {
  font-size: 12px;
  color: #ffffff;
}

.beverage_footer .media_list_companyInfo {
  display: none;
}

.beverage_footer .list_companyInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.beverage_footer .list_companyInfo .text_toplist {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 10px;
}

.beverage_footer .media_list_util {
  display: none;
}

.beverage_footer .list_award_wrap {
  background-color: #282828;
}

.beverage_footer .list_award {
  margin-top: 60px;
  background-color: #282828;
  text-align: center;
}

.beverage_footer .list_award li {
  display: inline-block;
  padding: 20px;
}

.beverage_footer .list_award .media_img_award {
  display: none;
}

.beverage_footer .list_terms {
  margin-top: 30px;
  text-align: center;
}

.beverage_footer .list_terms .text_color_g {
  color: #38ca44;
}

.beverage_footer .list_terms li {
  display: inline-block;
  padding: 0 10px;
}

.beverage_footer .list_terms li ~ li::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  background-color: #999999;
  position: relative;
  top: 2px;
  right: 13px;
}

.beverage_footer .list_site {
  margin-top: 10px;
  text-align: center;
}

.beverage_footer .list_site li {
  display: inline-block;
}

.beverage_footer .list_site a {
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 3px;
  width: 120px;
  padding: 0 10px;
  line-height: 30px;
  margin-right: 5px;
}

.beverage_footer .list_ceoInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0 15px;
  font-size: 12px;
}

.beverage_footer .list_ceoInfo dt, .beverage_footer .list_ceoInfo dd {
  display: inline-block;
  color: #999999;
}

.beverage_footer .list_ceoInfo .text_ceoInfo {
  margin: 0 20px;
}

.beverage_footer small {
  color: #999999;
  font-size: 12px;
}

.artic_theme {
  display: none;
}

.info_table {
  display: none;
}

@media screen and (max-width: 1145px) {
  .artic_coldbrew .list_info {
    overflow: hidden;
    padding-left: 3%;
  }
  .artic_coldbrew .list_info .text_coffee {
    float: left;
    width: 22%;
    font-size: 14px;
    text-align: center;
    margin: 10px;
  }
  .artic_coldbrew .list_info a {
    display: block;
    max-width: 250px;
    max-height: 260px;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .artic_coldbrew .list_info .img_coffee {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .artic_coldbrew .list_info .img_coffee:hover {
    -webkit-transform: scale(110%);
            transform: scale(110%);
  }
  .beverage_footer .list_companyInfo {
    max-width: 760px;
  }
}

@media screen and (max-width: 860px) {
  .text_skip:focus {
    top: 85px;
  }
  .beverage_header .wrap_nav {
    display: none;
  }
  .beverage_header .media_nav_mid {
    display: block;
    overflow: hidden;
    padding: 10px 20px 10px;
  }
  .beverage_header .media_nav_mid .media_img_logo {
    width: 50px;
    height: 50px;
  }
  .beverage_header .media_nav_mid .media_nav {
    float: right;
  }
  .beverage_header .media_nav_mid .media_nav li {
    display: inline-block;
    padding-top: 10px;
    margin-left: 20px;
  }
  .beverage_header .media_nav_mid .media_img_nav {
    width: 35px;
    height: 32px;
  }
  .artic_coldbrew .list_info {
    padding-left: 3%;
  }
  .artic_coldbrew .list_info .text_coffee {
    width: 30%;
    font-size: 14px;
    margin: 7px;
  }
  .artic_coldbrew .list_info a {
    max-width: 250px;
    max-height: 260px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 670px) {
  .beverage_main .beverage_group .list_group li {
    width: 100%;
    margin: 25px 10px 15px 0;
  }
  .artic_category {
    display: block;
    overflow-y: scroll;
    height: 90px;
  }
  .list_category li {
    display: block;
    width: 80%;
    margin: 5px 0;
    font-size: 14px;
  }
  .beverage_info .list_btn_info {
    overflow: hidden;
  }
  .beverage_info .list_btn_info li {
    float: left;
    width: 50%;
    margin: 80px 0 20px 0;
  }
  .beverage_info .list_btn_info .btn_info {
    width: 100%;
    padding: 10px 10px 10px 30px;
    text-align: left;
  }
  .beverage_info .list_btn_info .btn_info::before {
    width: 14px;
    height: 14px;
    top: 11px;
    left: 9px;
  }
  .beverage_info .list_btn_info .btn_tableInfo::before {
    width: 20px;
    height: 19px;
    top: 9px;
    left: 9px;
  }
  .beverage_info .info_img {
    position: relative;
  }
  .beverage_info .cont_select {
    float: none;
    width: 100%;
    position: absolute;
    top: -130px;
    left: 0;
  }
  .beverage_info .btn_select {
    display: block;
    width: 100%;
  }
  .beverage_info .list_select {
    width: 100%;
  }
  .artic_coldbrew .list_info {
    padding-left: 5%;
  }
  .artic_coldbrew .list_info .text_coffee {
    width: 43%;
    font-size: 14px;
    margin: 5px;
  }
  .artic_coldbrew .list_info a {
    margin-bottom: 3px;
  }
  #beverage_footer {
    margin-top: 50px;
  }
  .beverage_footer a {
    display: inline-block;
  }
  .beverage_footer .media_list_companyInfo {
    display: block;
  }
  .beverage_footer .list_companyInfo {
    display: block;
    padding: 0 20px;
  }
  .beverage_footer .list_companyInfo .text_toplist {
    display: inline-block;
    border-top: 2px solid #ffffff;
    margin: 10px 0 0;
    font-size: 16px;
  }
  .beverage_footer .list_companyInfo li {
    display: block;
  }
  .beverage_footer .list_companyInfo a {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
  }
  .beverage_footer .media_list_util {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
  }
  .beverage_footer .media_list_util li {
    display: inline-block;
  }
  .beverage_footer .media_list_util a {
    display: inline-block;
    border: 2px solid #ffffff;
    border-radius: 3px;
    width: 150px;
    padding: 10px 20px;
    line-height: 30px;
    margin-right: 5px;
    font-size: 20px;
  }
  .beverage_footer .list_award {
    overflow: hidden;
    width: 300px;
    height: 90px;
    margin: 10px auto;
  }
  .beverage_footer .list_award li {
    display: block;
    width: 290px;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-animation: awardSlide 20s infinite;
            animation: awardSlide 20s infinite;
  }
  .beverage_footer .list_award .media_img_award {
    display: block;
    margin: 0 auto;
  }
  .beverage_footer .list_ceoInfo {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .artic_coldbrew .list_info .text_coffee {
    font-size: 11px;
  }
  .text_coldbrew p {
    font-size: 11px;
  }
}
/*# sourceMappingURL=beverage.css.map */