@charset "utf-8";

// @font-face {
//   font-family: 'Maven Pro', sans-serif;
//   font-family: 'Noto Sans KR', sans-serif;
//   src: url();
// }


// reset
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

// animation
@keyframes awardSlide{
  0% {
    transform: translateY(0px);
  }
  11% {
    transform: translateY(0px);
  }
  16% {
    transform: translateY(-85px);
  }
  27% {
    transform: translateY(-85px);
  }
  32% {
    transform: translateY(-172px);
  }
  45% {
    transform: translateY(-172px);
  }
  50% {
    transform: translateY(-250px);
  }
  63% {
    transform: translateY(-250px);
  }
  68% {
    transform: translateY(-335px);
  }
  79% {
    transform: translateY(-335px);
  }
  84% {
    transform: translateY(-425px);
  }
  95% {
    transform: translateY(-425px);
  }
  100% {
    transform: translateY(-510px);
  }
}

// util
body {
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
}
.text_hide {
  width: 1px;
	height: 1px;
  margin: -1px;
  position: absolute;
	overflow: hidden;
  clip: rect(0 0 0 0);
}
.text_skip {
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}
.text_skip:focus {
  width: 100vw;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
  background-color: rgb(53, 53, 53);
  position: absolute;
  top: 115px;
}
.text_hover {
  position: relative;
}
.text_hover:hover {
  color: #006633;
}
.text_hover::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #006633;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all .2s;
}
.text_hover:hover::before {
  opacity: 1;
}
.text_sub {
  font-size: 12px;
  color: #999999;
}

// style
#beverage_header {
  font-family: 'Maven Pro', sans-serif;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f6f5ef;
  position: sticky;
  top: 0;
  z-index: 10;
}
.beverage_header {
  .media_nav_mid {
    display: none;
  }
  .wrap_nav {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
  }
  .img_logo {
    width: 77px;
    height: 77px;
    margin: 20px 0;
  }
  .list_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 490px;
    margin-top: 10px;
    margin-left: auto;
    font-size: 13px;
    li ~ li:not(li:last-child)::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 15px;
      background-color: #999999;
      position: relative;
      top: 2px;
      right: 15px;
    }
    .input_search {
      input {
        display: none;
      }
      button {
        border: 1px solid gray;
        border-radius: 5px;
        width: 33px;
        height: 33px;
        padding-right: 3px;
        background-color: white;
        cursor: pointer;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .list_nav {
    display: flex;
    justify-content: center;
    width: 720px;
    height: 60px;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    .text_hover {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 0 17px;
      transition: all .1s;
      z-index: 20;
      &:hover {
        background-color: #2c2a29;
      }
    }
  }
  .list_nav_sub {
    display: none;
    padding-top: 20px;
    background-color: #2c2a29;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
  }
  .list_sub_wrap {
    max-width: 1080px;
    margin: 0 auto 30px;
    overflow: hidden;
    ul {
      float: left;
      margin-right: 80px;
      text-align: left;
      > li:first-child a{
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 10px;
        padding-bottom: 3px;
      }
    }
  }
  .cont_special {
    clear: both;
    padding: 30px 0 30px 290px;
    text-align: left;
    background-color: rgb(175, 21, 52);
    a {
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
      position: relative;
      &::after {
        content: 'new';
        display: inline-block;
        border-radius: 15px;
        width: 40px;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        background-color: #38ca44;
        position: absolute;
        top: 0;
        right: -45px;
      }
    }
    a:hover {
      text-decoration: underline 2px #ffffff;
    }
    p {
      font-size: 12px;
      font-weight: bold;
      color: #38ca44;
    }
  }
}

#beverage_main {
  .wrap_main {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
.beverage_main {
  .text_heading {
    display: inline-block;
    margin-top: 15px;
    font-size: 32px;
  }
  .list_mini {
    text-align: right;
    margin-bottom: 15px;
    font-size: 12px;
    .link_home {
      width: 12px;
      height: 12px;
    }
    li {
      display: inline-block;
      margin-left: 15px;
    }
    a {
      color: #666666;
    }
  }
  .beverage_group {
    border: 1px solid #dddddd;
    border-radius: 7px;
    padding: 25px 30px 40px;
    position: relative;
    h3 {
      border-bottom: 1px solid #dddddd;
      padding-bottom: 25px;
    }
    .btn_pop {
      border: none;
      border-radius: 100%;
      box-shadow: 0 1px 2px 0 gray;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 25px;
      right: 30px;
      cursor: pointer;
      &:hover {
        background-color: #fefefe;
      }
      img {
        width: 17px;
        height: 17px;
        transform: rotateZ(180deg);
      }
    }
    .list_group {
      display: flex;
      li {
        width: 200px;
        margin: 25px 10px 15px 0;
      }
      .btn_group {
        display: inline-block;
        border-radius: 5px;
        width: 100%;
        height: 35px;
        font-size: 15px;
        line-height: 35px;
        text-align: center;
        background-color: #eeece3;
      }
      // .btn_group .on {
      //   color: white;
      //   background-color: #006633;
      // }
    }
  }
}
.beverage_group {
  .artic_category {
    display: block;
    .list_category {
      li {
        display: inline-block;
        margin-right: 30px;
        font-size: 14px;
      }
      label {
        cursor: pointer;
      }
    }
  }
}
.beverage_info {
  overflow: hidden;
  .list_btn_info {
    li {
      margin: 30px 10px 20px 0;
      float: left;
      position: relative;
      top: 10px;
    }
    .btn_info {
      border: 1px solid #dddddd;
      border-radius: 5px;
      padding: 5px 10px 5px 20px;
      font-size: 12px;
      background-color: white;
      position: relative;
      cursor: pointer;
      &::before {
        content: '';
        display: inline-block;
        background-image: url(../img/icon_window.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 7px;
        left: 5px;
      }
    }
    .btn_info:hover {
      border: 1px solid #006633;
    }
    // .btn_info .on {
    //   background-color: #666666;
    //   color: white;
    // }
    .btn_tableInfo::before {
      content: '';
      display: inline-block;
      background-image: url(../img/icon_ham.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      height: 15px;
      position: absolute;
      top: 6px;
      left: 5px;
    }
  }
  .cont_select {
    float: right;
  }
  .btn_select {
    display: block;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-shadow: none;
    width: 250px;
    height: 40px;
    margin-top: 30px;
    padding: 0px 14px;
    font-size: 14px;
    text-align: left;
    background-color: #FFFFFF;
    position: relative;
    cursor: pointer;
  }
  .btn_select::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../img/icon_arrow.png);
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 14px;
    transform: rotateZ(360deg);
  }
  .btn_select.on::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(../img/icon_arrow.png);
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 14px;
    transform: rotateZ(180deg);
  }
  .btn_select + .list_select {
    display: none;
  }
  .btn_select.on + .list_select {
    display: block;
  }
  .list_select {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    width: 250px;
    margin-top: 9px;
    padding: 4px 0;
    font-size: 14px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
    }
    button {
      border-style: none;
      border-radius: 10px;
      width: 90%;
      height: 30px;
      background-color: #FFFFFF;
      cursor: pointer;
    }
  }
  .list_select button:hover,
  .list_select button:focus {
    background-color: #e4ffe8;
  }
}
.artic_coldbrew{
  clear: both;
  .text_coldbrew {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f6f5ef;
  }
  h4 {
    display: inline-block;
    margin-right: 65px;
    font-size: 18px;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(../img/img_decaf.png);
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      top: -10px;
      right: -60px;
    }
  }
  p {
    display: inline-block;
    font-size: 13px;
  }
  .list_info {
    overflow: hidden;
    .text_coffee {
      float: left;
      font-size: 14px;
      text-align: center;
      margin: 10px;
    }
    a {
      display: block;
      max-width: 250px;
      max-height: 260px;
      margin-bottom: 15px;
      overflow: hidden;
    }
    .img_coffee {
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: all .5s;
      &:hover {
        transform: scale(110%);
      }
    }
  }
}

#beverage_footer {
  background-color: #2C2A29;
  margin-top: 240px;
  padding: 35px 0;
  text-align: center;
}
.beverage_footer {
  a {
    font-size: 12px;
    color: #ffffff;
  }
  .media_list_companyInfo {
    display: none;
  }
  .list_companyInfo {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    .text_toplist {
      display: inline-block;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .media_list_util {
    display: none;
  }
  .list_award_wrap {
    background-color: #282828;
  }
  .list_award {
    margin-top: 60px;
    background-color: #282828;
    text-align: center;
    li {
      display: inline-block;
      padding: 20px;
    }
    .media_img_award {
      display: none;
    }
  }
  .list_terms {
    margin-top: 30px;
    text-align: center;
    .text_color_g {
      color: #38ca44;
    }
    li {
      display: inline-block;
      padding: 0 10px;
    }
    li ~ li::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 15px;
      background-color: #999999;
      position: relative;
      top: 2px;
      right: 13px;
    }
  }
  .list_site {
    margin-top: 10px;
    text-align: center;
    li {
      display: inline-block;
    }
    a {
      display: inline-block;
      border: 2px solid #ffffff;
      border-radius: 3px;
      width: 120px;
      padding: 0 10px;
      line-height: 30px;
      margin-right: 5px;
    }
  }
  .list_ceoInfo {
    display: flex;
    justify-content: center;
    margin: 25px 0 15px;
    font-size: 12px;
    dt, dd {
      display: inline-block;
      color: #999999;
    }
    .text_ceoInfo {
      margin: 0 20px;
    }
  }
  small {
    color: #999999;
    font-size: 12px;
  }
}
.artic_theme {
  display: none;
}
.info_table {
  display: none;
}

// 미디어 쿼리
@media screen and (max-width: 1145px) {
  .artic_coldbrew {
    .list_info {
      overflow: hidden;
      padding-left: 3%;
      .text_coffee {
        float: left;
        width: 22%;
        font-size: 14px;
        text-align: center;
        margin: 10px;
      }
      a {
        display: block;
        max-width: 250px;
        max-height: 260px;
        margin-bottom: 15px;
        overflow: hidden;
      }
      .img_coffee {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all .5s;
        &:hover {
          transform: scale(110%);
        }
      }
    }
  }
  .beverage_footer .list_companyInfo {
    max-width: 760px;
  }
}
@media screen and (max-width: 860px) {
  .text_skip:focus {
    top: 85px;
  }
  .beverage_header {
    .wrap_nav {
    display: none;
    }
    .media_nav_mid {
      display: block;
      overflow: hidden;
      padding: 10px 20px 10px;
      .media_img_logo {
        width: 50px;
        height: 50px;
      }
      .media_nav{
        float: right;
        li {
          display: inline-block;
          padding-top: 10px;
          margin-left: 20px;
        }
      }
      .media_img_nav {
        width: 35px;
        height: 32px;
      }
    }
  }
  .artic_coldbrew {
    .list_info {
      padding-left: 3%;
      .text_coffee {
        width: 30%;
        font-size: 14px;
        margin: 7px;
      }
      a {
        max-width: 250px;
        max-height: 260px;
        margin-bottom: 15px;
      }
    }
  }
}
@media screen and (max-width: 670px) {
  .beverage_main .beverage_group .list_group {
    li {
      width: 100%;
      margin: 25px 10px 15px 0;
    }
  }
  .artic_category {
    display: block;
    overflow-y: scroll;
    height: 90px;
  }
  .list_category {
    li {
      display: block;
      width: 80%;
      margin: 5px 0;
      font-size: 14px;
    }
  }
  .beverage_info {
    .list_btn_info {
      overflow: hidden; 
      li {
        float: left;
        width: 50%;
        margin: 80px 0 20px 0;
      }
      .btn_info {
        width: 100%;
        padding: 10px 10px 10px 30px;
        text-align: left;
        &::before {
          width: 14px;
          height: 14px;
          top: 11px;
          left: 9px;
        }
      }
      .btn_tableInfo::before {
        width: 20px;
        height: 19px;
        top: 9px;
        left: 9px;
      }
    }
    .info_img {
      position: relative;
    }
    .cont_select {
      float: none;
      width: 100%;
      position: absolute;
      top: -130px;
      left: 0;
    }
    .btn_select {
      display: block;
      width: 100%;
    }
    .list_select {
      width: 100%;
    }
  }
  // 조금더 고민해봐야 할듯...
  .artic_coldbrew {
    .list_info {
      padding-left: 5%;
      .text_coffee {
        width: 43%;
        font-size: 14px;
        margin: 5px;
      }
      a {
        margin-bottom: 3px;
      }
    }
  }
  #beverage_footer {
    margin-top: 50px;
  }
  .beverage_footer {
    a {
      display: inline-block;
    }
    .media_list_companyInfo {
      display: block;
    }
    .list_companyInfo {
      display: block;
      padding: 0 20px;
      .text_toplist {
        display: inline-block;
        border-top: 2px solid #ffffff;
        margin:10px 0 0;
        font-size: 16px;
      }
      li {
        display: block;
      }
      a {
      width: 100%;
      padding: 10px 0;
      font-size: 14px;
      }
    }
    .media_list_util {
      display: inline-block;
      margin-top: 10px;
      text-align: center;
      li {
        display: inline-block;
      }
      a {
        display: inline-block;
        border: 2px solid #ffffff;
        border-radius: 3px;
        width: 150px;
        padding: 10px 20px;
        line-height: 30px;
        margin-right: 5px;
        font-size: 20px;
      }
    }
    .list_award {
      overflow: hidden;
      width: 300px;
      height: 90px;
      margin: 10px auto;
      li {
        display: block;
        width: 290px;
        margin: 0 auto;
        padding: 20px 0;
        animation: awardSlide 20s infinite;
      }
      .media_img_award {
        display: block;
        margin: 0 auto;
      }
    }
    .list_ceoInfo {
      display: block;
    }
  }
}
@media screen and (max-width: 420px) {
  .artic_coldbrew {
    .list_info {
      .text_coffee {
        font-size: 11px;
      }
    }
  }
  .text_coldbrew p{
    font-size: 11px;
  }
}
